* {
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 80%;
}
header {
  background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
  background-size: cover;
  height: 300px;
}
header h1 {
  padding-top: 3rem;
  text-align: center;
  margin: 0px;
}
/* main{}
nav{}
.gallery{}
article{}
table{} */
