* {
  box-sizing: border-box;
}

body {
  background-image: url(GRID_TABLAZAT/kepek/hatter.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  width: 90%;
  margin-inline: auto;
}

/* Header, Main and Footer*/
header {
  background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-shadow: black 2px 2px 5px;
}

main {
  background-color: white;
}

footer{
  text-align: center;
  background-color: rgb(87, 69, 255);
  padding-block: 0.5rem;
  color: black;
  font-weight: 400;
  font-size: 1rem;
}

/* Navigation */
nav {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  gap: 0.25rem;
  padding-block: 1rem;
}

nav a {
  text-decoration: none;
  background-color: rgb(87, 69, 255);
  padding-inline: 4rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
}

/* Gallery */
.gallery1, .gallery2{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}
.gallery1 img, .gallery2 img{
  width: 100%;
  height: 100%;
  padding-inline: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  border: 2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.left{
  transform: rotate(15deg);
}
.right{  transform: rotate(-15deg);
}

/* Article part */
article{
  border: 2px solid grey;
  padding: 1rem;
}


@media screen and (max-width: 500px) {
  .gallery1, .gallery2{
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (min-width: 800px) {
  main{
    display: grid;
    grid-template-columns: 200px auto 1fr;
  }
  article{
    min-width: 300px;
    max-width: 550px;
  }
  nav{
    display: grid;
    align-content: baseline;
    padding-left: 1rem;
  }
}
